html {
  font-family: 'Work Sans', sans-serif;
}

nav {
  background-color: #e67974;
}

nav i.fa {
  height: 48px !important;
  line-height: 48px !important;
}

.homepage-top {
  background-image: url('../images/home.header.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  height: 100vh;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.homepage-top h2 {
  color: #e67974;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 87px;
  /*margin-bottom: 40px;*/
  /*margin-top: 52px;*/
  text-align: center;
  text-transform: none;
}

.homepage-top h4 {
  color: #e67974;
  /*font-size: 60px;*/
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  /*margin-bottom: 40px;*/
  /*margin-top: 52px;*/
  text-align: center;
  text-transform: none;
}

.white-transparent {
  background-color:rgba(255, 255, 255, 0.8);
}

.home-card-large {
  padding: 100px !important;
}

.home-ava {
  height: 100vh;
  background-image: url('../images/ava.img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.home-chime {
  height: 100vh;
  background-image: url('../images/chime.img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.home-aiooki {
  height: 100vh;
  background-image: url('../images/aiooki.img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.button-collapse {
  padding-left: 10px;
}

footer.page-footer {
  padding-top: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}
