html {
  font-family: 'Work Sans', sans-serif;
}

.primary-color {
  background-color: rgb(230, 121, 116);
}

.secondary-color {
  background-color: rgb(247, 212, 210);
}

.button-collapse {
  padding-left: 10px;
}

nav i.fa {
  height: 48px !important;
  line-height: 48px !important;
}

.homepage-top {
  background-image: url('../images/home.header.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  height: 100vh;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.homepage-top h2 {
  color: #e67974;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 87px;
  /*margin-bottom: 40px;*/
  /*margin-top: 52px;*/
  text-align: center;
  text-transform: none;
}

.homepage-top h4 {
  color: #e67974;
  /*font-size: 60px;*/
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  /*margin-bottom: 40px;*/
  /*margin-top: 52px;*/
  text-align: center;
  text-transform: none;
}

.white-transparent {
  background-color:rgba(255, 255, 255, 0.8);
}

.home-card-large {
  padding: 100px !important;
}

.home-ava {
  height: 100vh;
  background-image: url('../images/ava.img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.home-chime {
  height: 100vh;
  background-image: url('../images/chime.img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.home-aiooki {
  height: 100vh;
  background-image: url('../images/aiooki.img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

h1.header {
  font-weight: 800;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}

.flex-item {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.circle-border {
  margin: auto;
  padding: 18px;
  flex-grow: 1;
  height: 200px;
  width: 200px;
  border: 5px solid rgb(171, 171, 171);
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.circle-red {
  margin: auto;
  padding: 18px;
  flex-grow: 1;
  height: 200px;
  width: 200px;
  background-color: rgb(208, 94, 88);
  -moz-border-radius: 50%;
  border-radius: 50%;
}



.timeline-container-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-item {
  transition: all 200ms ease-in;
}

.timeline-item .stage p {
  color: #FFFFFF;
}

.stage {
  margin-top: 20px;
  padding: 25px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #FFFFFF;
  position: relative;
  transition: all 200ms ease-in;
}

.stage:before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: -13.5px;
  transition: all 200ms ease-in;
}

.timeline-item.complete .stage {
  border-top: 2px solid #464646;
}

.timeline-item.complete .stage:before {
  background-color: #464646;
  border: none;
  transition: all 200ms ease-in;
}

.timeline-item.complete .stage p {
  color: #464646;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .timeline-item {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .stage:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}












footer.page-footer {
  padding-top: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ava-2 {
  height: 50vh;
  background-image: url('../images/ava.img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.ava-4 .content {
  font-size: 18px;
  line-height: 30px;
}

.ava-9 {
  height: 50vh;
  background-image: url('../images/ava.img5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}
